.flex-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: LightSkyBlue;
    padding: 10px; 
    gap: 10px; 
  }

  .flex-container > div {
    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 50%;
    height: 50px;
  }

  .flex-container-2 {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: LightSkyBlue;
    padding: 15px; 
    gap: 15px; 
  }

  .flex-container-2 > div {
    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 50%;
    height: 50px;
  }

  .flex-container-3 {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: LightSkyBlue;
    padding: 12px; 
    gap: 12px; 
  }

  .normal {
    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 50%;
    height: 50px;
    border: 2px solid black; 
  }

 .bigger {

    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 2px solid black; 

 }

 .flex-container-4 {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: LightSkyBlue;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 12px; 
    gap: 12px; 
    
 }

 .smallrow {
    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 23.5%;
    height: 50px;
    border: 2px solid black; 
  }

  .wholerow {

    background-color: #f1f1f1;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 2px black; 
    border: 2px solid black;
  }

  /*
    flex-direction: ;
    flex-grow: ; 
    order: ; 
    display:';
    flex-wrap: ; 
    flex-shrink: ; 
    flex-basis: ; 
    flex-flow: ; 
    justify-content: ; 
    flex: ; 
    align-self: ; 
    align-items: ; 
    align-center: ; 
    gap: ; 
    row-gap: ; 
    column-gap: ; 

*/